{% if product.id %}
<div id="review-form-container">
    <h2>Review Form<h2/>
        <form id="review_form" action="/submit" method="post">
        <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        </div>

        <div>
        <label for="rating">Rating:</label>
        <div class="star-rating" id="star-rating">
            <span class="star" data-value="1">★</span>
            <span class="star" data-value="2">★</span>
            <span class="star" data-value="3">★</span>
            <span class="star" data-value="4">★</span>
            <span class="star" data-value="5">★</span>
        </div>
        <input type="hidden" id="rating-value" name="rating" value="0">
        </div>

        <div>
        <label for="comment" id="comment-label">Comment:</label>
        <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
        </div>
        <div class="submit-container">
        <button id="submit-button" type="submit">Submit</button>
        </div>
    </form>
    <p id="msg-content"></p>
</div>
{% endif %}

{% schema %}
{
  "name": "Review Form",
  "target": "section",
  "class": "review-form-section",
  "stylesheet": "review_form.css",
  "javascript": "review_form.js",
  "settings": [
  ]
}
{% endschema %}

